/** ALIBRANDI CYRIL MSW2V **/


body {
  font-family: 'Poppins'
}

p{font-size: 16px;}


.bande-titre {
  width: 100% ; 
  height: 130px ; 
  background-color: #fcce00 ;
  color: white ; 
  font-size: 38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bande-section-title { 

  margin-top: 10px ; 
  margin-bottom: 0px; 
  width: 100% ; 
  height: 60px ; 
  background-color: #ff6b00;
  color: white ; 
  font-size: 40px ; 
  justify-content: center;
  display: flex;
  align-items: center;
 }

.section-titre2 {

  margin-top: 67px;
  margin-bottom: 0px;
  color: black;
  font-size: 42px;
  text-align: center;
 }

.sous-titre { 
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px ; }


.sous-titre3 { 
margin-top:64px;
        margin-bottom: 0px;
        color: white;
        font-size: 40px;
        text-align: left;
   }

.titre4 {
    font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 32px;
  }


/** Style des bandes **/ 


.bande-rouge {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: #e02020
 }

.bande-violette { 

  margin-top: 10px ; 
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #b620e0;

 }

.bande-bleu {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #6236ff;

 }


/** Régagle du squelette de ma page **/ 

.boxdroite{
    background: linear-gradient(#fcce00, transparent) left repeat, url(bitmap.png);
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 32px;
    display: flex;
    align-items: center;
  }
  

.boxdroite img {
    mix-blend-mode: darken; 

    }

.boxdroite2 {
    text-align: justify;
    margin-right: 32px;
    flex-basis: 0;
    flex-grow: 1;
  }

  .boxdroite3{ 

  justify-content: center;
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 32px;

   }

.boxdroite3 img { 
mix-blend-mode: darken; }



.boxgauche {
      text-align: justify;
      margin-right: 32px;
      flex-basis: 0 ;
      flex-grow: 1;
    }

.boxgauche2{
    background: linear-gradient(#ff6b00, transparent) left repeat, url(bitmap2.png);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 32px;
    flex-basis: 0;
  flex-grow: 1;
  }
  
  .boxgauche2 img {
    mix-blend-mode: darken;
  }

 .boxgauche3{
      text-align: justify;
      margin-right: 32px;
      flex-basis:0;
      flex-grow:1;
    
    }

.box {
  display: flex;
}


.box2{
    
      display:flex;
      background: linear-gradient(red,transparent)left repeat;
    }

.box2 p {

  color: white
}

.box3{
    
        display:flex;
        background: linear-gradient( #b620e0,transparent)left repeat;
      }
      .box3 p {
        color: white;
      }

 .box4{
    
        display:flex;
        background: linear-gradient( #6236ff,transparent)left repeat;
      }
      .box4 p {
        color: white;
      }


/** Réglage de l'arrière plan du bas de page **/

.bas-de-page {

  background: #231f20;
}


/** Régagle des boutons **/

.bouton { 
align-content: right;
border: 2px solid #fcce00;
padding: 13px;
border-radius: 15px;
font-weight: bold;
color: #fcce00;
text-decoration: none;
float: right;
 }


.bouton2 { 
   align-content:right;
    border: 2px solid #ff6b00;
    padding: 15px;
    border-radius:15px;
    font-weight: bold;
    color:#ff6b00;
    text-decoration: none;
    float: right;
     }


.bouton3{
    align-content:right;
    border: 2px solid white;
    padding: 15px;
    border-radius:15px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    float: left;
     }

/** Formulaire de Contact Terminé  **/

#contact h1 { margin-top: 0px;
              padding-top: 65px;
              text-align: center; 
              color: white;}

#contact .row   {
display: flex;
justify-content: center;

   }


#contact { background-color: #231f20; }


.form-row {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.personal-infos 
{ margin: 0px 0px 0px 32px;
display: flex;
flex-direction: column;
justify-content: space-between; }

.message {

  margin: 0px 0px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 40%; 
}

.message textarea { 

flex-basis: 100%;
resize: none; }

label, input, select, .message textarea {

  font-size: 18px; 
  color: white;
}

label { padding: 8px; }

input, select, .message textarea { 

padding: 8px;
color: #231f20;
border-radius: 8px;
background-color: #ffffff;
border: none; }


/** Réglage du end space après le formulaire de contact **/


.end-space { height: 200px; }


/** Réglage du Hover et du Game Container Terminé **/

.game{
  position:relative;
  text-align:center;
}

.image-game{
max-width:90%;
}

.game-content{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  font-size:14px;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  max-width:80%;
  margin-right:auto;
  margin-left:auto;
  border-radius:4%;
}

.game-content {
  opacity:0;
  transform: translateY(10px);
  transition: 800ms transform ease-in-out, 200ms opacity;
}

.game:hover .game-content{
  opacity: 1;
  transform: translateY(0px);
}

.game-title{
  font-size:32px;
  font-weight:bold;
  color:#fcce00;
  margin-bottom:32px;
}

.game-description{
  font-size:16px;
  color:white;
}

.container-bitmap{
  background-color:#231f20;
}

.liste {
  color:white;
  font-size:40px;
  text-align:center;
  font-weight:bold;
  padding-top:48px;
}
.container-images {
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax 320px);
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:34px;
  padding:20px;
} 


/** TEST RESPONSIVE 

BUG POUR LE RESPONSIVE, ça ne touche pas uniquement le format mobile mais aussi le format Laptot :/ **/ 

