
/**
* -------------
* Global Styles
* -------------
*/



body {
  font-family: 'Poppins'
}







p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}



.bande-titre {
  width: 100% ; 
  height: 130px ; 
  background-color: #fcce00 ;
  color: white ; 
  font-size: 38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bande-section-title { 

  margin-top: 10px ; 
  margin-bottom: 0px; 
  width: 100% ; 
  height: 60px ; 
  background-color: #ff6b00;
  color: white ; 
  font-size: 40px ; 
  justify-content: center;
  display: flex;
  align-items: center;
 }

 .section-titre2 {

  margin-top: 67px;
  margin-bottom: 0px;
  color: black;
  font-size: 42px;
  text-align: center;
 }

 .sous-titre { 
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px }

 .bande-rouge {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: #e02020
 }

 .bande-violette { 

  margin-top: 10px ; 
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #b620e0;

 }

 .bande-bleu {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #6236ff;

 }

  .boxdroite{
    background: linear-gradient(#fcce00, transparent) left repeat, url(bitmap.png);
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 32px;
    display: flex;
    align-items: center;
  }
  
  .boxdroite img {
    mix-blend-mode: darken; 

    }


    .boxgauche {
      text-align: justify;
      margin-right: 32px;
      flex-basis: 0 ;
      flex-grow: 1;
    }

     .boxgauche2{
    background: linear-gradient(#ff6b00, transparent) left repeat, url(bitmap2.png);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 32px;
    flex-basis: 0;
  flex-grow: 1;
  }
  
  .boxgauche2 img {
    mix-blend-mode: darken;
  }


.box {
  display: flex;
}


.box2{
    
      display:flex;
      background: linear-gradient(red,transparent)left repeat;
    }

.box2 p {

  color: white
}

.box3{
    
        display:flex;
        background: linear-gradient( #b620e0,transparent)left repeat;
      }
      .box3 p {
        color: white;
      }

 .box4{
    
        display:flex;
        background: linear-gradient( #6236ff,transparent)left repeat;
      }
      .box4 p {
        color: white;
      }

/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/