
/**
* -------------
* Global Styles
* -------------
*/



body {
  font-family: 'Poppins'
}







p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}



.bande-titre {
  width: 100% ; 
  height: 130px ; 
  background-color: #fcce00 ;
  color: white ; 
  font-size: 38px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.bande-section-title { 

  margin-top: 10px ; 
  margin-bottom: 0px; 
  width: 100% ; 
  height: 60px ; 
  background-color: #ff6b00;
  color: white ; 
  font-size: 40px ; 
  justify-content: center;
  display: flex;
  align-items: center;
 }

 .bande-rouge {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: #e02020
 }

 .bande-violette { 

  margin-top: 10px ; 
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #b620e0;

 }

 .bande-bleu {

  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 18px;
  background-color: #6236ff;

 }


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/